body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: lightblue;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: darkblue;
  text-decoration-line: underline;
}

h2 {
  text-align: center;
  color: darkblue;
  font-weight: normal;
}

/*DIV Classes*/

.project-entry {
  background-color: #eee;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  min-height: 30%;
  margin-top: 15px;
}

.project-info {
  flex-grow: 2;
  flex-basis: content;
  width: 40%;
  left: 40%;
  /*text-align: justify;*/
  position: relative;
}

.project-image {
  width: 30%;
  position: absolute;
  background-color: lightcoral;
}

/*P Classes*/

.showTitle {
  text-decoration-line: underline;
  font-weight: bold;
}

.showRole {
  font-weight: bold;
  margin-top: -10pt;
}

.showVenue {
  text-indent: 1.5%;
  margin-top: -10pt;
}

.showDirector {
  font-style: italic;
  text-indent: 1.5%;
  margin-top: -10pt;
}

.showSoundDesigner {
  font-style: italic;
  text-indent: 1.5%;
  margin-top: -10pt;
}

.showDescription {
  /*margin-top: 6%;*/
}

.showImage {
  max-width: 95%;
  max-height: 95%;
  justify-self: center;
  object-fit: contain;
  padding: 2.5%;
  size=5%
}